*{
    preenchimento: 0;
    margem: 0;
    tamanho de caixa: border-box;
    text-decoração: nenhum;
    fonte-família: sans-serif;
    tamanho da fonte: 14px;

}
corpo{
    largura: 100%;
    min-altura: 100vh;
    cor de fundo: rgb (243, 243, 243);
    margem: 0;
    preenchimento: 0;
    display: flex;
    justificar-conteúdo: centro;
}
. instagram-wrapper{
    display: flex;
    itens de alinhamento: centro;
    justificar-conteúdo: iniciar;
    largura: 60%;
    altura: 100vh;

}

. instagram-telefone{
    display: flex;
    itens de alinhamento: centro;
    justificar-conteúdo: centro;
    largura: 50%;
}

. instagram-telefone img{
    altura: 50rem;
    top de enchimento: 30px;
    margem-direita: 30px;
}

. instagram-continuar{
    display: flex;
    itens de alinhamento: centro;
    conteúdo-justificativa: espaço-em torno;
    flex-direção: coluna;
    largura: 50%;
    altura: 34rem;
}

. grupo{
    display: flex;
    conteúdo-justificativa: espaço-entre;
    itens de alinhamento: centro;
    flex-direção: coluna;
    cor de fundo: branco;
    largura: 100%;
    preenchimento: 1,3rem 0;
    borda: 1px leve sólido;
}

. grupo:nth-child(1){
    min-height: 19rem;

}

. instagram-logotipo{
    altura: 3rem;
}

. perfil-foto{
    display: flex;
    justificar-conteúdo: centro;
    itens de alinhamento: centro;
    raio-fronteira: 50%;
    estouro: escondido;
    
}

. perfil-foto img{
    altura: 6rem;
}

. instagram-login{
    cor de fundo: #0095f6;
    cor: branco;
    preenchimento: 8px;
    raio-fronteira: 4px;
}

. instagram-logout{
    cor: #0095f6;
    margem-topo: 1rem;
}

. não-conta{
    cor: rgb (160, 160, 160);

}

. link-azul{
    cor: #0095f6;
}


. get-the-app{
    display: flex;
    flex-direção: coluna;
    itens de alinhamento: centro;
    justificar-conteúdo: centro;
    largura: 100%;
    preenchimento: 1,3rem 0;
}

. baixar{
    display: flex;
    largura: 100%;
    justificar-conteúdo: espaço-uniforme;
    itens de alinhamento: centro;
    preenchimento: 1rem;
}
. app-download{
    altura: 3rem;
    largura: 10rem;
    tamanho de fundo: cobertura;
}

. app-download:nth-child(1){
    imagem de fundo: url ('./img/apple-button.png');
}
. app-download:nth-child(2){
    imagem de fundo: url ('./img/googleplay-button.png');
}

@media (largura máxima: 1024px){
 . instagram-wrapper{
        largura: 90%;
    }

}

@media (largura máxima: 650px){
    corpo{
        cor de fundo: branco;
    }
 . instagram-wrapper{
        largura: 90%;
    }
 . instagram-telefone{
        exibição: nenhum;
    }
 . instagram-continuar{
        largura: 100%;
    }
 . grupo{
        fronteira: nenhuma;
    }

}
Rodapé
© 2022 GitHub, Inc.
